@font-face {
    font-family: "Brandon";
    src: url("../fonts/Brandon_light_it.otf");
}

@font-face {
    font-family: "operatorMono-light";
    src: url("../fonts/OperatorMono-LightItalic.otf");
}

@font-face {
    font-family: "siffon basic";
    src: url("../fonts/siffon_basic.otf");
}

@font-face {
    font-family: "operatorMono-BoldItalic";
    src: url("../fonts/OperatorMono-BoldItalic.otf");
}

@font-face {
    font-family: "BankGothic-Lt";
    src: url("../fonts/BankGothic-Lt-BT-Light.ttf");
}

@font-face {
    font-family: "BankGothic-Md";
    src: url("../fonts/BankGothic-Md-BT-Medium.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    height: 15%;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    border-bottom: 2px solid #0094DE;
}

nav {
    height: 100%;
    display: inline-block;
    width: 74%;
    vertical-align: top;
}

ul {
    height: inherit;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
}

.navItem {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 5px 10px;
    margin-right: 1%;
}

.navLink, .navLink:hover {
    text-decoration: none;
    overflow: hidden;
}

.navLink::after {
    content: "";
    background: #0094DE;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    transition: all .4s;
}

.navLink:hover::after, .navLink:focus::after {
	width: 100%;
    height: 100%;
    opacity:0.5;
}

.navLink:hover {
    color: black;
}

.header-logo {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.responsiveButton {
    display: none;
    height: 30%;
}

.topic {
    text-align: center;
    background-color: #0094DE;
    color: white;
}

.content {
    padding: 20px 50px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-size: 1.2em;
}

#overlay {
    display: none;
    position: absolute;
    background-color: #34495E;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.overlay-header {
    display: flex;
    height: 7%;
}

.logoText {
    font-family: "BankGothic-Md";
    font-size: 1.3em;
    color: white;
}

.text {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.exit {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.overlay-exit {
    background-color: white;
    -webkit-mask: url('../icons/times-lt.svg') no-repeat center;
    mask: url('../icons/times-lt.svg') no-repeat center;
    height: 100%;
    width: 50%;
    transition: all .2s;
}

.overlay-exit:hover {
    background-color: black;
}

